## 조건문 반복문

if(6<5){
    printf('6은 5이상이다');
}
printf('이 코드가 프린트될까요?')
printf('끝')

In [1]:
if 6<5 : #c언어에서 {} 역할
    print('6은 5이상이다.')
print('이 코드가 프린트될까요?')
print('끝')

이 코드가 프린트될까요?
끝

if(6<5){
    printf('6은 5이상이다');
    printf('이 코드가 프린트될까요?')
}

printf('끝')

In [2]:
if 6<5 : 
    print('6은 5이상이다.')
    print('이 코드가 프린트될까요?')
print('끝')

끝

In [3]:
a, b, c =10, 20, 30
if (a==10 and b==20) or c==100:
    print('1번째 조건이 참이다')
else:
    print('1번째 조건이 거짓이다.')

if a!=10:
    print('2번째 조건이 참이다')
else:
    print('2번째 조건이 거짓이다')
    
if not a==20:
    print('3번째 조건이 참이다')

1번째 조건이 참이다
2번째 조건이 거짓이다
3번째 조건이 참이다

In [4]:
if 'hello': #0일때만 거짓 , 0이 아니라면 참
    print('참')
else:
    print('거짓')

참

if(a%4==0)
    printf("%d는 나머지가 0이다", a);
else if(a%4==1)
    printf("%d는 나머지가 1이다", a);
else if(a%4==2)
    printf("%d는 나머지가 2이다", a);
else
    printf("%d는 나머지가 3이다", a);

In [6]:
a = 19
if a%4 ==0:
    print('{}는 나머지가 0이다'. format(a))
elif a%4 ==1:
    print('{}는 나머지가 1다'. format(a))
elif a%4 ==2:
    print('{}는 나머지가 2다'. format(a))
elif a%4 ==3:
    print('{}는 나머지가 3다'. format(a))

19는 나머지가 3다

In [7]:
a=[1, 10, 20, 100]
i=0
while i<len(a):
    print('value=',a[i],'index=',i)
    i += 1 #i++
print('end')

value= 1 index= 0
value= 10 index= 1
value= 20 index= 2
value= 100 index= 3
end

for(int i=0;i<4;i++)
    printf("%d %d",a[i], 2*a[i])

In [8]:
a=[1, 10, 20, 100]
for value in a: #개수 지정안해줘도 됨!
    print(value, value*2)

1 2
10 20
20 40
100 200

In [9]:
a='hello world'
for char in a:
    print(char)

h
e
l
l
o

w
o
r
l
d

In [11]:
a = {'korea':'seoul', 'canada':'ottawa', 'japan':'tokyo'}
print(a['korea'],a['japan'])

seoul tokyo

In [12]:
for x in a: #key 값을 나타냄
    print(x)

korea
canada
japan

In [13]:
for key in a:
    print(key)
    
for key in a.keys():
    print(key)

korea
canada
japan
korea
canada
japan

In [14]:
for value in a.values():
    print(value)

seoul
ottawa
tokyo

In [15]:
for key in a.keys():
    print(key, a[key])

korea seoul
canada ottawa
japan tokyo

In [16]:
a = {'korea':'seoul', 'canada':'ottawa', 'japan':'tokyo'}
a.items() #튜플로 만들어줌(병렬적으로 값을 주고 받을 수 있음)

dict_items([('korea', 'seoul'), ('canada', 'ottawa'), ('japan', 'tokyo')])

In [17]:
b=list(a.items())
print(b, type(b))

[('korea', 'seoul'), ('canada', 'ottawa'), ('japan', 'tokyo')] <class 'list'>

In [18]:
for key, value in b:
    print(key, value)

korea seoul
canada ottawa
japan tokyo

In [19]:
for x in b:
    print(x)

('korea', 'seoul')
('canada', 'ottawa')
('japan', 'tokyo')

In [20]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

In [21]:
for index, value in enumerate(a):
    if index>=2:
        print(index, value)

2 30
3 40

In [22]:
a = [10, 20, 30, 40, 50, 60, 70]
for value in a:
    if value>30:
        break #반복문 멈춤
    print(value)

10
20
30

In [23]:
a = [10, 20, 30, 40, 50, 60, 70]
for value in a:
    if value > 30 and value < 70:
        continue
    print(value)

10
20
30
70

In [24]:
a= [1, 2, 3]
for i in a:
    for j in a:
        print(i, 'x', j, '=', i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

2~9단 구구단 짜보기

In [90]:
for i in range(2,10):
    for j in range(1,10):
        print(i, 'x', j, '=', i*j)
    print('\n')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 함수

In [25]:
a= [1,2,3]
print(len(a))

3

In [26]:
b=list(range(10))
print(b, type(b))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [27]:
b=list(range(1,10))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b=list(range(1,10,3))
print(b)

[1, 4, 7]

In [29]:
print(sum(a))

6

In [32]:
def add2(x,y): #변수 타입x
    n = x + y
    return n

In [33]:
hap = add2(30, 40)
print(hap)

70

In [34]:
def add3(x, y, z=5):
    n = x + y + z
    return n

In [35]:
hap=add3(1,2,3)
print(hap)

6

In [36]:
hap=add3(1,2) #x=1, y=2, z=5(default)
print(hap)

8

In [38]:
def add3_1(x, y=5, z=5): #default argument는 맨 뒤에서 부터 채우기
    n = x + y + z
    return n

In [40]:
hap= add3_1(1) #1, 5, 5
print(hap)

11

- 올바른 사례
    - def test(x, y, z=1)
    - def test(x, y=2, z=1)
    - def test(x=3, y=2, z=1)
- 올바르지 않은 사례
    - def test(x=3, y, z)
    - def test(x=3, y, z=1)
    - def test(x=3, y=2, z)

In [41]:
def test(x, y, z=1):
    print(x)
    print(y)
    print(z)
    return 0

In [42]:
test(10, 20, 30)

10
20
30

0

In [43]:
test(y=20, z=30, x=10) #비추천

10
20
30

0

In [44]:
def testreturn(x, y, z=1):
    print(x, y, z)
    return

In [45]:
a=testreturn(1,2)
print(a)

1 2 1
None

In [46]:
def testreturn2(x, y, z=1):
    print(x, y, z)

In [47]:
a=testreturn2(1,2)
print(a)

1 2 1
None

In [48]:
def add_mul(x,y):
    s = x + y
    m = x * y
    return s, m

In [49]:
a=add_mul(2,4)
print(a, type(a))

(6, 8) <class 'tuple'>

In [51]:
b, c = add_mul(2,4)
print(b,type(b), c,type(c))

6 <class 'int'> 8 <class 'int'>

In [53]:
num1=10
num2=20

def add_two(num1, num2):
    print(num1, num2)
    return num1+num2

num3=add_two(30, 40)
print(num3)
print('num1=', num1, 'num2=', num2)

30 40
70
num1= 10 num2= 20

In [54]:
#가변 길이 인자 함수 : print(1), print(1,2)

def test(*args):
    print(type(args))
    for item in args:
        print(item)

In [55]:
test()

<class 'tuple'>

In [56]:
test(1)

<class 'tuple'>
1

In [57]:
test(1, 2, 3, 4) #통채로 튜플

<class 'tuple'>
1
2
3
4

In [59]:
def test2(**x):  #변수를  dict로 인식
    print(type(x))
    for key in x:
        print(key, x[key])
    return

In [60]:
test2(a=1, b=2, c=3, d=4, name='kang')
#key: a, b, c, d, name
#value: 1, 2, 3, 4, 'kang'

<class 'dict'>
a 1
b 2
c 3
d 4
name kang

In [61]:
def test3(**x):  #변수를  dict로 인식
    print(type(x))
    for key, value in x.items(): #dict->tuple로 바꿔줌
        print(key, value)
    return

In [62]:
test2(a=1, b=2, c=3, d=4, name='kang')

<class 'dict'>
a 1
b 2
c 3
d 4
name kang

In [63]:
a= "온도는 {}도, 습도는 {}%".format(20,90)
print(a)

온도는 20도, 습도는 90%

In [64]:
a= "온도는 {temp}도, 습도는 {humidity}%, 강수확률은 {rain}%".format(temp=20,humidity=90, rain=100)
#이름을 붙이면 순서 관계x
print(a)

온도는 20도, 습도는 90%, 강수확률은 100%

- 람다함수
    - 함수 이름이 없음, return 없음
    - 간단한 기능의 함수를 만들때 권장

In [65]:
def square(x):
    return(x**2)
square(5)

25

In [69]:
lambda x: x**2 #입력: 출력

In [72]:
square2= lambda x: x**2 #변수로 받음
print(type(square2))

<class 'function'>

In [73]:
square2(5)

25

In [74]:
add = lambda x, y : x + y
add(1,2)

3

In [75]:
strings = ['bob', 'charies', 'alexander', 'teddy', 'jain']
strings.sort()
print(strings)

['alexander', 'bob', 'charies', 'jain', 'teddy']

In [76]:
def str_len(s):
    return len(s)

strings = ['bob', 'charies', 'alexander', 'teddy', 'jain']

strings.sort(key=str_len)
print(strings)

['bob', 'jain', 'teddy', 'charies', 'alexander']

In [77]:
strings = ['bob', 'charies', 'alexander', 'teddy', 'jain']

strings.sort(key=lambda s: len(s))
print(strings)

['bob', 'jain', 'teddy', 'charies', 'alexander']

In [78]:
def even(n):
    return n%2==0

In [80]:
a=[10,13,2,3,8,9,17]
b=list(filter(even,a)) #filter:해당하는 결과만 출력
print(b)

[10, 2, 8]

In [81]:
a=[10,13,2,3,8,9,17]
b=list(filter(lambda n: n%2==0, a)) 
print(b)

[10, 2, 8]

In [82]:
a=[10,13,2,3,8,9,17]
b=list(map(lambda n: n%2==0, a))  #참거짓
print(b)

[True, False, True, False, True, False, False]

In [83]:
a=[10,13,2,3,8,9,17]
b=list(map(lambda n: n**2, a))
print(b)

[100, 169, 4, 9, 64, 81, 289]